* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f6f5;
    color: #333;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url("images/duck.jpg") center/cover no-repeat;
    background:url("images/fly.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.overlay h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.btn {
    text-decoration: none;
    background: #2ecc71;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: #27ae60;
}

/* About */
.about {
    padding: 60px 15%;
    text-align: center;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.05rem;
    line-height: 1.7;
}

/* Gallery */
.gallery {
    padding: 60px 10%;
    background: #fff;
}

.gallery h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background: #111;
    color: #bbb;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

